@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(15, 15, 15, 1);

  color: rgba(244, 244, 244, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.lucky-header.is-open .lucky-header-background {
  left: 0;
}
.lucky-header-button-wrapper {
  margin-left: auto;
}
.lucky-header-icon {
  display: none;
}

.lucky-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.lucky-navigation-list.is-open {
  right: 0;
}
.lucky-header-icon-menu {
  display: block;
}

.lucky-header-icon-button.is-open .lucky-header-icon-menu {
  display: none;
}

.lucky-header-icon-button.is-open .lucky-header-icon-close {
  display: block;
}

.lucky-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 56px;
  background: rgba(15, 15, 15, 1);

  border-bottom: 2px solid rgba(204, 215, 245, 1);
}

.lucky-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(5, 6, 6, 1);
}
.lucky-header.is-open .lucky-header-background {
  left: 0;
}
.lucky-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lucky-header-icon-menu {
  display: block;
}

.lucky-header-icon-button.is-open .lucky-header-icon-menu {
  display: none;
}

.lucky-header-icon-button.is-open .lucky-header-icon-close {
  display: block;
}

.lucky-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.lucky-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(5, 6, 6, 1);
}

.lucky-navigation-list.is-open {
  right: 0;
}

.lucky-navigation-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(244, 244, 244, 1);
}

.lucky-navigation-link:hover,
.lucky-navigatioт-link:focus {
  color: rgba(5, 254, 198, 1);
}

.lucky-header.is-open {
  background-color: transparent;
}

.lucky-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .lucky-navigation-img {
    display: flex;
    margin-right: 60px;
  }
  .lucky-policy-terms-header-icon-menu {
    display: none;
  }

  .lucky-header {
    width: 100%;
    height: 80px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .lucky-header-background {
  }
  .lucky-header-icon-button {
    display: none;
  }
  .lucky-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .lucky-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .lucky-navigation-link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    text-decoration: none;
    padding: 0 20px;
  }

  .lucky-navigation-item-desk {
    display: none;
  }
}
.lucky-home {
  width: 375px;
  height: 835px;
  padding: 157px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Hero.png");
  margin: auto;
}

.lucky-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.lucky-home-title {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.lucky-home-title-two {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.lucky-home-text {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 36px 0 8px;
}
.lucky-home-text-two {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-bottom: 36px;
}
.lucky-home-google-button-image {
  width: 142px;
  height: 56px;
}

.lucky-home-google-button-link:hover .lucky-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .lucky-home {
    width: 1440px;
    height: 990px;
    padding: 235px 72px 0px 614px;
    background-image: url("/img/home/Hero\ \(1\).png");
  }

  .lucky-home-title {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .lucky-home-title-two {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
  .lucky-home-text {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding: 56px 0 16px;
  }
  .lucky-home-text-two {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding-bottom: 48px;
  }
}
.lucky-why {
  width: 375px;
  height: 986px;
  margin: auto;
  padding: 32px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/join/1.png");
}
.lucky-why-title-div {
  display: flex;
  flex-wrap: wrap;
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: rgba(5, 254, 198, 1);
  align-items: center;
  flex-direction: column;
}
.lucky-why-title {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  display: flex;
  gap: 14px;
}
.lucky-why-title-div img {
  width: 48px;
  height: 48px;
}
.lucky-why-text-bold {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding: 40px 0;
}
.lucky-why-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lucky-why-item {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

.lucky-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .lucky-why {
    width: 1440px;
    height: 804px;
    padding: 90px 72px 0 620px;
    background-image: url("/img/join/11.png");
  }
  .lucky-why-title-div {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 48px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    vertical-align: bottom;
    text-transform: uppercase;
    gap: 36px;
    color: rgba(5, 254, 198, 1);
    align-items: center;
    flex-direction: row;
    row-gap: 0;
  }
  .lucky-why-title {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;

    text-align: center;
    vertical-align: bottom;
    display: flex;

    gap: 14px;
  }
  .lucky-why-title-div img {
    width: 105px;
    height: 105px;
  }
  .lucky-why-text-bold {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;

    padding: 48px 0 36px;
  }
  .lucky-why-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 529px;
  }

  .lucky-why-item {
    display: flex;
    gap: 16px;
    align-items: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }

  .lucky-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 529px;
    padding-top: 24px;
  }
}

.lucky-uniqueness {
  width: 375px;
  height: 1307px;
  margin: auto;
  padding: 32px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/The\ Uniqueness\ of\ the\ Game.png");
}

.lucky-uniqueness-list {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lucky-uniqueness-item {
  display: flex;
  align-items: start;
  gap: 16px;
  border-radius: 10px;
  padding: 24px;
  border: 2px solid rgba(5, 254, 198, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .lucky-uniqueness {
    width: 1440px;
    height: 1010px;
    padding: 90px 730px 0 72px;
    background-image: url("/img/uniqueness/The\ Uniqueness\ of\ the\ Game\ \(1\).png");
  }
  .lucky-uniqueness-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .lucky-uniqueness-item {
    width: 638px;
    height: 102px;
    border-radius: 10px;
    padding: 24px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.lucky-about {
  padding: 32px 20px 0px;
  margin: auto;
  width: 375px;
  height: 973px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About\ This\ Game.png");
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.lucky-about-title {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: bottom;
  color: rgba(5, 254, 198, 1);
}

.lucky-about-text {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .lucky-about {
    padding: 90px 72px 0 730px;
    width: 1440px;
    height: 632px;
    gap: 48px;
    align-items: start;
    background-image: url("/img/About\ This\ Game\ \(1\).png");
  }
  .lucky-about-title {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-transform: uppercase;
    text-align: left;
  }

  .lucky-about-text {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
  }
}
.lucky-how {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
  background: rgba(5, 6, 6, 1);
}

.lucky-how-list {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lucky-how-item {
  gap: 16px;
  border-radius: 10px;
  padding: 24px;
  border: 2px solid rgba(5, 254, 198, 1);
  display: flex;
  align-items: start;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .lucky-how {
    width: 1440px;
    padding: 90px 72px;
  }
  .lucky-how-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
  }

  .lucky-how-item {
    width: 397px;
    height: 129px;
    gap: 16px;
    border-radius: 10px;
    padding: 24px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.lucky-reviews {
  width: 375px;
  margin: auto;
  padding: 32px 20px;
}

.lucky-reviews-list {
  padding-top: 36px;
}

.lucky-reviews-item {
  margin: 0 5px;
  width: 309px;
  height: 230px;
  padding-top: 64px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border: 2px solid rgba(46, 252, 169, 1);
  border-radius: 10px;
  margin-top: 50px;

  position: relative;
}

.lucky-reviews-img {
  position: absolute;
  top: -50px;
  left: 101px;
}

.lucky-reviews-text-bold {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  padding: 10px 0 16px;
}

.lucky-reviews-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.slick-prev:before {
  content: url("/img/reviews/button\ \(1\).png");
  display: flex;
  margin-left: 20px;
}
.slick-next {
  right: 0px;
  display: none;
}
.slick-next:before {
  content: url("/img/reviews/button\ \(4\).png");
  display: flex;
  margin-left: -20px;
}
@media screen and (min-width: 1200px) {
  .lucky-reviews {
    width: 1440px;
    padding: 90px 76px;
  }
  .lucky-reviews-list {
    padding-top: 48px;
  }

  .lucky-reviews-item {
    margin: 0 10px;
    width: 309px;
    height: 230px;
    padding-top: 64px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    border: 2px solid rgba(46, 252, 169, 1);
    border-radius: 10px;
    margin-top: 50px;

    position: relative;
  }

  .slick-prev:before {
    content: url("/img/reviews/button\ \(1\).png");
    display: flex;
    margin-left: 20px;
  }
  .slick-next {
    right: 0px;
    display: none;
  }
  .slick-next:before {
    content: url("/img/reviews/button\ \(4\).png");
    display: flex;
    margin-left: -20px;
  }
}

.lucky-faq {
  padding: 32px 20px;
  margin: auto;
  width: 375px;

  background-image: url("/img/FAQ.png");
}

.lucky-faq-container {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.lucky-faq-item {
  background: rgba(30, 192, 116, 1);
  padding: 8px 12px;
  border: 2px solid rgba(46, 252, 169, 1);
  border-radius: 10px;
}

.lucky-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.lucky-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.lucky-faq-answer {
  display: none;
  padding-top: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.lucky-active {
  border: 4px solid rgba(204, 215, 245, 1);
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .lucky-faq {
    padding: 90px 418px;
    width: 1440px;
    background-image: url("/img/FAQ\ \(1\).png");
  }
  .lucky-faq-title {
    text-align: center;
  }
  .lucky-faq-container {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  .lucky-faq-item {
    background: rgba(30, 192, 116, 1);
    padding: 8px 12px;
    border: 2px solid rgba(46, 252, 169, 1);
    border-radius: 10px;
  }

  .lucky-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .lucky-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
  }

  .lucky-faq-answer {
    display: none;
    padding-top: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .lucky-active {
    border: 4px solid rgba(204, 215, 245, 1);
    background-color: transparent;
  }
}

.lucky-features {
  width: 375px;
  height: 1131px;
  margin: auto;
  padding: 32px 20px 0px;
  background-image: url("/img/features/Key\ Features.png");
}

.lucky-features-list {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lucky-features-item {
  width: 335px;
  height: 111px;
  gap: 16px;
  border-radius: 10px;
  padding: 24px;
  border: 2px solid rgba(5, 254, 198, 1);
  display: flex;
  align-items: start;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .lucky-features {
    width: 1440px;
    height: 1036px;
    padding: 90px 72px 0;
    background-image: url("/img/features/Key\ Features\ \(1\).png");
  }
  .lucky-features-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .lucky-features-item {
    width: 748px;
    height: 102px;
    gap: 16px;
    border-radius: 10px;
    padding: 24px;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    vertical-align: middle;
    align-items: center;
  }
}

.lucky-policy-terms-container {
  padding: 96px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.lucky-policy-terms-title {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}

.lucky-policy-terms-text {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  padding-top: 20px;
}

.lucky-policy-terms-texts {
  padding-top: 8px;
}

.lucky-policy-terms-text-one {
  padding-top: 20px;
}

.lucky-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.lucky-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.lucky-email-link {
  color: inherit;
  text-decoration: none;
}

.lucky-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .lucky-policy-terms-container {
    padding: 166px 72px 50px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .lucky-policy-terms-title {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .lucky-policy-terms-text {
    padding-top: 40px;
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .lucky-policy-terms-text-one {
    padding-top: 30px;
  }

  .lucky-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.lucky-footer {
  width: 375px;
  margin: auto;

  background: rgba(5, 6, 6, 1);

  padding: 32px 0px;
}

.lucky-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lucky-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.lucky-footer-text {
  text-decoration: none;
  color: rgba(244, 244, 244, 1);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.lucky-footer-copyright {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .lucky-footer {
    width: 1440px;
    padding: 48px 72px;
  }

  .lucky-footer-container {
    display: flex;

    justify-content: stretch;
    align-items: stretch;
    gap: 30px;
  }

  .lucky-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 30px;
  }

  .lucky-footer-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
  }

  .lucky-footer-copyright {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.lucky-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 20px;
  background: rgba(15, 15, 15, 1);

  z-index: 1000;
  display: none;
}

.lucky-cookie-popup-text-two {
  font-family: IBM Plex Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  color: rgba(244, 244, 244, 1);
}

.lucky-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.lucky-cookie-button {
  border: none;
  background-color: transparent;
  width: 156px;
  border-radius: 10px;

  padding: 11px 0;
  border: 2px solid rgba(204, 215, 245, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: rgba(244, 244, 244, 1);
}

#accept-cookies {
  background: rgba(30, 192, 116, 1);
  border: 2px solid rgba(46, 252, 169, 1);
}

.lucky-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .lucky-cookie-popup-text-two {
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .lucky-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 48px;
  }

  .lucky-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 902px;
    padding: 72px;
    display: none;
  }
}
